:root {
    --primary: #C9AC90;
    --primary25: rgba(201, 172, 144, 0.25);
    --primary40: rgba(201, 172, 144, 0.4);
    --primary50: rgba(201, 172, 144, 0.5);
    
    --secondary: #C7BEB5;
    --secondary30: rgba(199, 190, 181, 0.3);
    --secondary75: rgba(199, 190, 181, 0.75);

    --padding: max(15px, calc(38px + 18.5625vw));
}


.connection_container {
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signin__item {
    border: 1px solid #000;
    padding: 20px;
}

.signup__item {
    border: 1px solid #000;
    padding: 20px;
}