@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #C9AC90;
    --primary25: rgba(201, 172, 144, 0.25);
    --primary50: rgba(201, 172, 144, 0.5);
    --secondary: #C7BEB5;
    --secondary30: rgba(199, 190, 181, 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html, body {
  height: 100%;
} */

body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    height: 100vh;
}

.bold {
    font-weight: 600;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.important_info {
    color: var(--primary);
    font-weight: 600;
}

nav {
    /* outline: 1px solid #000; */
    display: flex;
    justify-content: center;
    padding: 30px;
    vertical-align: auto;
}

nav .search_thesis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background: #fff;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    cursor: pointer;
}

.search_thesis .material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.search_icon, .close_icon {
    color: var(--secondary);
    user-select: none;
}

.search_icon {
    margin-inline: 20px 5px;
}

.close_icon {
    margin-inline: 5px 20px;
}

.search_thesis .close_icon {
    display: none;
    position: relative;
}

.search_thesis .close_icon:hover::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--secondary30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_thesis input {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 0 50px 50px 0;
    border: none;
}

#search::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary);
}

#search {
    font-weight: 600;
    font-size: 24px;
}

.wrap {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    padding: 60px;
}

.wrap h1 {
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

h1 {
    position: relative;
}

.wrap h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -2.5%;
    width: 105%;
    height: 60%;
    background: linear-gradient(120deg, #d9d9d9 0%, #d9d9d9 100%);
    transform: rotate(-3deg);
    z-index: -1;
    transition: all 0.3s ease;
}

.wrap h1:hover::before {
    width: 0;
    transform: rotate(0deg);
}

.wrap .planet_icon {
    font-size: 48px;
}

.connect_sect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.connect_wrap {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    /* height: 350px; */
    height: fit-content;
    padding: 80px 60px;
    background: linear-gradient(110deg, #f2f2f2 0%, #f0f0f0 100%);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.btn {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    width: 100%;
    height: 80px;
    background: #fff;
    font-size: 36px;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #f9f9f9;
    color: #353535;
}

.btn:active {
    background: #ebebeb;
    color: #303030;
}

input {
    border: 1px solid var(--secondary);
    font-family: 'Poppins', sans-serif;
    color: #000;
    cursor: pointer;
    background: #fff;
    transition: all 0.1s ease;
    caret-color: var(--primary);
}

input:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px var(--primary);
}

input::selection {
    background: var(--primary);
    color: #fff;
}

.authen {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    font-size: 24px;
}

.authen::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #888;
    font-size: 24px;
}

.connect_form label {
    font-size: 20px;
    color: #888;
    margin-bottom: 10px;
    display: inline-block;
}

.auth_btn {
    margin-top: 70px;
}

.connect_before {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logi:not(:placeholder-shown)~.passw:not(:placeholder-shown)~.auth_btn {
    background: var(--primary);
    color: #fff;
}

.back_a {
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: inherit;
}

.back {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.arrow_back {
    transition: all 0.2s ease;
}

.back:hover .arrow_back {
    transform: translateX(-5px);
}

.home_button {
    width: 200px;
    font-size: 18px;
}

section {
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 60px;
    gap: 20px;
}

.section_title {
    font-size: 36px;
    font-weight: 600;
    color: #000;
}

.stats_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

.stats_wrap .stats {
    border: 1px solid var(--secondary);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background: #fff;
}

.stats_title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.stats_data {
    font-size: 48px;
    font-weight: 800;
    color: var(--primary);
}

.btn_container {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.btn_container .chartBtn {
    width: fit-content;
    height: 30px;
    font-size: 16px;
    padding: 0px 5px;
    font-weight: normal;
}

#histo_container {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 50px 10px 10px 10px;
    background: #fff;
}

.graphs_container {
    /* border: 1px solid #000; */
    display: grid;
    gap: 15px;
    grid-template-columns: 3fr 1fr;
    height: 500px;
}

.map_wrap {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}

.map_wrap p {
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.btn-active {
    background: var(--primary);
    color: #fff;
}




@media (max-width: 1536px) {
    .connect_wrap {
        padding: 40px 30px;
    }

    input,
    .btn {
        height: 60px;
    }

    .btn {
        padding: 0 0;
    }

    .auth_btn {
        margin-top: 50px;
    }
}